*{
    padding: 0px;
    margin: 0px;
}

.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    padding: 15px;
    height: 40px;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #363636;
}

.header-logo{
    font-weight: 300;
    font-size: 2rem;
    color: rgb(182, 182, 182);
}

.header-profile-icon{
    background-color: white;
    width: 40px;
    border-radius: 100%;
}

.header-icons{
    display: flex;
    gap: 7px;
}

@media only screen and (min-width: 601px) {
    .home-header{
        height: 80px;
        gap: 30px;
        justify-content: center;
    }

    .header-logo{
        margin-left: 10px;
        font-size: 2.7rem;
        margin-right: 50px;
    }

    .header-profile-icon{
        width: 70px;
    }

    .header-welcometext{
        font-weight: 400;
    }

    .header-welcometext-bold{
        font-weight: 700;
    }

    .header-icons{
        margin-left: 50px;
        margin-right: 10px;
    }
  }