.login-header{
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.03);
    width: 100%;
}

.login-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 75%;
}

.login-title{
    width: 100%;
    text-align: center;
    color: white;
    border-bottom: 2px solid #EE88FF;
    padding: 0px 0px 10px 0px;
}

.login-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input input{
    appearance: none;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.733);

    background-color: rgba(255, 255, 255, 0.048);
}

.input label{
    position: absolute;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.151);
    transform: translate(6px, 2px);
}

.login-submit{
    margin-top: 10px;
    appearance: none;
    border: none;

    padding: 7px 20px;
    width: 130px;
    border-radius: 20px;

    background-color: #6ddb87be;
    color: white;
}

.forgot-password{
    transform: translateY(-5px);
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.459);
    margin-left: 5px;
}

@media only screen and (min-width: 901px) {
    .login-container{
        margin: 75px 0px;
    }

    .lock-and-key{
        display: flex;
        justify-content: center;
    }

    .login-lock{
        width: 100%;
    }

    .login-key{
        width: 80%;
        transform: translateY(-20px);
    }

    .login-page-content-container{
        display: flex;
        justify-content: center;
        gap: 150px;
    }

    .welcome-page-product-container{
        background-color: #121212;
        width: 50%;
        overflow: hidden;
    }
  }