.main-content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

@media only screen and (min-width: 901px) {
    .main-content{
        margin-top: 50px;
    }
  }