.welcome-page-container{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.welcome-header{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 25px;

}

.welcome-page-logo-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-page-logo{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-weight: 400;

    color: #6DDB86;

    font-size: 2.5rem;
}

.welcome-page-logo-subtext{
    display: flex;
    justify-content: center;
    font-size: 0.95rem;
    transform: translateY(-5px);
    font-weight: 300;

    color: rgba(255, 255, 255, 0.726);

}

.nav-container{
    display: flex;
    margin-left: auto;
    gap: 30px;
    color: rgba(255, 255, 255, 0.80);
    list-style: none;

    font-size: 1.2rem;
}

.welcome-page-product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;

    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.025);
}

.welcome-page-product{
    width: 200px;
    filter: brightness(0.7);
    aspect-ratio: 1/1;

    margin: 0px 10px;
}

.welcome-page-product.current-product{
    filter: brightness(1);
}

.welcome-accountbuttons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.welcome-login{
    width: 120px;
    background-color: #B2F9C2;
    border: 3px solid #6DDB86;
    text-align: center;

    box-sizing: border-box;
    padding: 10px 0px;
    border-radius: 10px;

    font-weight: 400;
    font-size: 1rem;
}

.welcome-signup{
    width: 120px;
    background-color: #EE88FF;
    border: 3px solid #D870E9;
    text-align: center;

    box-sizing: border-box;
    padding: 10px 0px;
    border-radius: 10px;

    font-weight: 400;
    font-size: 1rem;
}

.welcome-text{
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.welcome-text h1{
    color: white;
    font-weight: 400;
    font-size: 2.5rem;
}

.welcome-text h1 span{
    color: #6DDB86;
    font-weight: 400;
}

.welcome-page-icons{
    margin-top: 15px;
    align-self: center;
    width: 55%;
}